<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header header-elements-inline">
        <h4 class="card-title">Movimentações</h4>
        <div class="header-elements" style="cursor: pointer">
          <p class="breadcrumb-elements-item" routerLink="/adicionar">
            <i class="nc-icon nc-simple-add mr-2"></i>
            Adicionar nova movimentação
          </p>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive overflow-hidden">
          <table class="table">
            <thead class="text-primary">
            <th>
              Equipamento
            </th>
            <th>
              Informações
            </th>
            <th>
              Tipo
            </th>
            <th>
              Quantidade
            </th>
            <th>
              Usuário
            </th>
            <th>
              Operação
            </th>
            <th>
              Horário
            </th>
            <th>
              Ações
            </th>
            </thead>
            <tbody>
            <tr>
              <td>
                Glock
              </td>
              <td>
                .380 ACP
              </td>
              <td>
                Pistola
              </td>
              <td>
                1
              </td>
              <td>
                MARIOFP
              </td>
              <td>
                Chegada
              </td>
              <td>
                18:30:02 - 02/01/2023
              </td>
              <td>
                <a class="btn btn-blue btn-icon mr-2" ngbTooltip="Editar">
                  <i class="nc-icon nc-ruler-pencil"></i>
                </a>
                <button type="button" class="btn btn-danger btn-icon" ngbTooltip="Remover">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                Glock
              </td>
              <td>
                .380 ACP
              </td>
              <td>
                Pistola
              </td>
              <td>
                1
              </td>
              <td>
                MARIOFP
              </td>
              <td>
                Saída
              </td>
              <td>
                07:12:55 - 02/01/2023
              </td>
              <td>
                <a class="btn btn-blue btn-icon mr-2" ngbTooltip="Editar">
                  <i class="nc-icon nc-ruler-pencil"></i>
                </a>
                <button type="button" class="btn btn-danger btn-icon" ngbTooltip="Remover">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>
                Colete Modular Tático Operacional Balistico
              </td>
              <td>
                Adventure Group
              </td>
              <td>
                Colete
              </td>
              <td>
                2
              </td>
              <td>
                LUCASGM
              </td>
              <td>
                Chegada
              </td>
              <td>
                12:33:14 - 01/01/2023
              </td>
              <td>
                <a class="btn btn-blue btn-icon mr-2" ngbTooltip="Editar">
                  <i class="nc-icon nc-ruler-pencil"></i>
                </a>
                <button type="button" class="btn btn-danger btn-icon" ngbTooltip="Remover">
                  <i class="nc-icon nc-simple-remove"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
